//
   Created by Kasper on 01-04-2015.

extends layout
block content
    form(method="post" action="/")
        input(name="userName" placeholder="Username")
        input(name="password" placeholder="Password")
        input(type="submit")